.faq{
  @include component-size;
  h2{
    margin-bottom: 20px;
  }
}
.faq-list{
  li{
    margin: 5px;
  }
  button{
    font-size: $font-size-medium;
    color: $text-color;
    background-color: $bg-color;
    border: none;
    outline: none;
    margin-bottom: 20px;
    display: block;
    text-align: left;
    width: 100%;
    padding: 20px 10px;
    &:hover{
      background-color: #555;
    }
  }
  p{
    font-size: $font-size-medium;
    padding: 10px;
  }
}