.faq{
  @include component-size;
  h2{
    margin-bottom: 20px;
  }
}
.faq-list{
  li{
    padding: 10px;
  }
  button{
    font-size: $font-size-large;
    color: $text-color;
    background-color: $bg-color;
    border: none;
    outline: none;
    margin-bottom: 20px;
    display: flex;  
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    &:hover{
      background-color: #333;
    }
  }
  p{
    font-size: $font-size-medium;
  }
}