.membership{
  @include component-size;
  text-align: center;
}
.email-box{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
  @include responsive($breakpoint-small){
    position: relative;
    height: 100px;
  }
  label{
    position: relative;
    &.focused{
      span{
        top: 25%;
        font-size: 12px;
      }
      @include responsive($breakpoint-small){
        position: absolute;
        top: 0;
      }
    }
    span{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      color: #aaa;
      transition: 0.2s;
      @include responsive($breakpoint-small){
        position: absolute;
        top: 20px;
      }
    }
    input{
      font-size: $font-size-medium;
      padding: 0.5rem 2rem;
      background-color: $bg-color;
      border: 1px solid #858585;
      border-radius: 5px;
      @include responsive($breakpoint-small){
        width: 100%;
      }
      &.focused{
        outline: 2px solid #fff
      }
    }
  }
  button{
    @include button-style;
    width: 300px;
    padding: 0 4rem;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive($breakpoint-medium){
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1rem;
    }
    @include responsive ($breakpoint-small){
      position: absolute;
      bottom: 0;
      
    }
  }
}